# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Frontend/ClienteMovil/Facetec.Droid/bin/

Frontend/ClienteMovil/Facetec.Droid/obj/

Infraestructura/Web/.terraform/

Infraestructura/Web/.terraform.lock.hcl

Backend/WebSockets/.vs/

Backend/WebSockets/bin/

Backend/WebSockets/obj/

Backend/WebSockets/packages/

Backend/OData.SmallVille/.vs/

Backend/OData.SmallVille/bin/

Backend/OData.SmallVille/obj/
