<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0ca9a1a4-2c25-4109-a72d-00082b929870/resourceGroups/bbva-rg/providers/Microsoft.Web/sites/smallville</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://smallville.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>75c308a0-57b1-47d0-9b66-8e6009c1532e</ProjectGuid>
    <PublishUrl>https://smallville.scm.azurewebsites.net/</PublishUrl>
    <UserName>$smallville</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>