################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WhiteLabel.Droid/obj
/WhiteLabel/obj
/packages
/Bindings/Ocr/Forms/BlinkID.Forms.Core/obj
/Bindings/Ocr/Forms/BlinkID.Forms.Android/obj
/.vs/WhiteLabel/v16/Server/sqlite3
/.vs/WhiteLabel/v16
/Bindings/Ocr/Forms/BlinkID.Forms.Core/bin/Debug
/Bindings/Ocr/Forms/BlinkID.Forms.Android/bin/Debug
/WhiteLabel/bin/Debug/netstandard2.0
/WhiteLabel.Droid/bin/Debug
/WhiteLabel/bin/Release/netstandard2.0
/WhiteLabel.Droid/bin/Release
/.vs/WhiteLabel/DesignTimeBuild
/Bindings/Ocr/Forms/BlinkID.Forms.Android/bin/Release
/Bindings/Ocr/Forms/BlinkID.Forms.Core/bin/Release
/Bindings/Ocr/Forms/BlinkID.Forms.Android/bin/x86/Debug
/Bindings/Ocr/Forms/BlinkID.Forms.Core/bin/x86/Debug
/Core/obj
/Core/bin
/Core.Droid/obj
/Core.Droid/bin
/WhiteLabel/bin
/WhiteLabel.Droid/bin/x86/Debug

*.user

WhiteLabel.Droid/bin/

Bindings/Ocr/Forms/BlinkID.Forms.Android/bin/

Bindings/Ocr/Forms/BlinkID.Forms.Core/bin/

Bindings/Ocr/Forms/BlinkID.Forms.Core/bin/

Bindings/Ocr/Forms/BlinkID.Forms.Android/bin/

WhiteLabel.Droid/bin/

.vs/
